/* app.css */
.App {
  text-align: center;
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.news-image {
  width: 600px;
  height: auto;
  background-size: cover;
  border: 2px solid black;
  border-radius: 5px;
}

.title {
  margin-top: 10px;
  font-weight: bold;
  width: 600px;
  text-align: center;
  color: white;
  border: 3px solid black;
  background-color: rgb(72, 0, 255);
  padding: 4px;
}


/* .text-wrapper {
  display: flex;
  justify-content: flex-start;
  background: red;
  overflow: hidden;
  height: 50px;
  padding-bottom: 10px;
}

.text-wrapper h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rt1 2000ms linear infinite;
} */

/* ----------------------------  */

.text-wrapper {
  display: flex;
  justify-content: flex-start;
  background: red;
  overflow: hidden;
  height: 50px;
  padding-bottom: 10px;
}

.text-wrapper h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rt1 2000ms linear infinite;
}

.text-wrapper h1:nth-child(2n) {
  color: #fff;
  -webkit-text-stroke-color: transparent; 
}

@keyframes move-rt1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  
}




/* ---------------- */


.text-wrapper1 {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  background: red;
  justify-content: flex-start;
  overflow: hidden;
  height: 50px;
  padding-bottom: 10px;
  width: 100%; /* Set the width to 100% to span the entire width of the viewport */
}

.text-wrapper1 h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rt1 1000ms linear infinite;
}

.text-wrapper1 h1:nth-child(2n) {
  color: #fff;
  -webkit-text-stroke-color: transparent; 
}

@keyframes move-rt1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  
}



